<div class="login_area px-3">
    <div class="row">
        <div class="d-none d-lg-block col-md-5">
            <app-login-left-side />
        </div>
        <div class="col-md-12 col-lg-7">
            <div class="row col-md-8 mx-auto h-100">
                <div class="loginForm h-100v d-flex flex-wrap justify-content-center">
                    <div class="login_title w-100 text-center mb-4">
                        <h2 class="text-capitalize fw-600">Forget Password </h2>
                    </div>
                    <form action="" class="w-100" method="post">
                        <div class="mb-3 row">
                            <label for="emailAddress" class="col-sm-2 col-form-label text-end">Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="emailAddress">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="phoneNumber" class="col-sm-2 col-form-label text-end">Mobile</label>
                            <div class="col-sm-10">
                              <input type="tel" class="form-control" id="phoneNumber">
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <label for="cnicNumber" class="col-sm-2 col-form-label text-end">CNIC</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="cnicNumber">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <legend class="col-form-label col-sm-2 pt-0"></legend>
                            <div class="col-sm-10 text-center">
                                <a routerLink="/" class="btn btn-success text-white w-100 w-md-50  loginBtn">Reset Password</a>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>

        </div>
    </div>
</div>