<div class="row">
    <div class="background_image">
        <img src="../../../assets/images/benvolent-login-img1.png" alt="" class="img-fluid">
    </div>
    <div class="col-lg-11 mx-auto py-4">
        <div class="loginLogo text-white mb-5 pb-5 d-flex align-items-center">
            <div>
                <img src="../../../assets/images/government-of-punjab-logo.svg" alt="logo" class="img-fluid">
            </div>
            <h5 class="mb-0 ps-3 fw-bold">Punjab Benevolent Funds</h5>
        </div>
        <div class="main-login-headings text-white">
            <h1 class="fw-bold display-6">Enriching Lives</h1>
            <div class="col-md-8 col-sm-12">
                <small class="text-gray small">Benevolence is not just a fund; it's a heartfelt commitment to making the world a better place, one act of kindness at a time.</small>
            </div>
        </div>
    </div>
</div>