<div class="row">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
        <div class="page_title ps-5">Dashboard</div>
        <div class="settings">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" (click)="toggleSubMenu()" href="javascript:;">
                    <img src="../../../../assets/images/user.png" class="img-fluid rounded-5" style="width:35px"> Taqi Raza Khan
                  </a>
                  <ul class="dropdown-menu" [class.dropdownCollapsed]="isSubMenuCollapsed">
                    <li><a class="dropdown-item" href="javascript:;">Action</a></li>
                    <li><a class="dropdown-item" href="javascript:;">Another action</a></li>
                    <li><a class="dropdown-item" routerLink="/">Logout</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </div>
</div>
