<aside>
  <div class="logo"></div>
  <a href="javascript:;" class="toggleList" (click)="toggleSidebar()">
    <i class="bi bi-box-arrow-in-left"></i>
  </a>
  <ul class="nav navbar"  [ngClass]="{'collapsed': isCollapsed}">
    <li *ngFor="let item of navItems" [class.active]="item.active">
      <a *ngIf="!item.children" [routerLink]="item.link">
        <i [class]="item.iconClass"></i> <span>{{ item.label }}</span>
      </a>
      <a href="javascript:;" *ngIf="item.children" (click)="toggleItem(item)">
        <i [class]="item.iconClass"></i> <span>{{ item.label }}</span>  
      </a>
      <ul *ngIf="item.children && item.expanded">
        <li *ngFor="let child of item.children">
          <a [routerLink]="child.link">
            <i [class]="child.iconClass"></i> {{ child.label }}
          </a>
        </li>
      </ul>
    </li>
   
  </ul>
</aside>