<aside>
  <div class="logo d-flex flex-row">
    <div class="image d-flex justify-content-center">
      <img src="../../../../assets/images/government-of-punjab-logo.svg" class="img-fluid w-100"/>
    </div>
    <div class="text d-flex flex-column  ps-2 fw-bold">Punjab Benevolent Funds</div>
  </div>
 
  <ul class="nav navbar"  [ngClass]="{'collapsed': isCollapsed}">
    <li *ngFor="let item of navItems" [class.active]="item.active">
      <a *ngIf="!item.children" [routerLink]="item.link">
        <i [class]="item.iconClass"></i> <span>{{ item.label }}</span>
      </a>
      <a href="javascript:;" *ngIf="item.children" (click)="toggleItem(item)">
        <i [class]="item.iconClass"></i> <span>{{ item.label }}</span>  
      </a>
      <ul *ngIf="item.children && item.expanded">
        <li *ngFor="let child of item.children">
          <a [routerLink]="child.link">
            <i [class]="child.iconClass"></i> {{ child.label }}
          </a>
        </li>
      </ul>
    </li>
   
  </ul>
</aside>