<aside>
    <div class="logo"></div>
    <ul class="sidebar">
        <li><a routerLink="/dashboard">Link 1</a></li>
        <li><a routerLink="/dashboard2">Link 2</a></li>
        <!-- <li><a href="javascript:;">Link 3</a></li>
        <li><a href="javascript:;">Link 4</a></li>
        <li><a href="javascript:;">Link 5</a></li>
        <li><a href="javascript:;">Link 6</a></li>
        <li><a href="javascript:;">Link 7</a></li>
        <li><a href="javascript:;">Link 8</a></li> -->
      </ul>
</aside>