<div class="login_area px-3">
    <div class="row">
        <div class="d-none d-lg-block col-md-5">
            <div class="row">
                <div class="background_image">
                    <img src="../../../assets/images/benvolent-login-img1.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-11 mx-auto py-4">
                    <div class="loginLogo text-white mb-5 pb-5 d-flex align-items-center">
                        <div>
                            <img src="../../../assets/images/government-of-punjab-logo.svg" alt="logo" class="img-fluid">
                        </div>
                        <h5 class="mb-0 ps-3 fw-bold">Punjab Benevolent Funds</h5>
                    </div>
                    <div class="main-login-headings text-white">
                        <h1 class="fw-bold display-6">Enriching Lives</h1>
                        <div class="col-md-8 col-sm-12">
                            <small class="text-gray small">Benevolence is not just a fund; it's a heartfelt commitment to making the world a better place, one act of kindness at a time.</small>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="col-md-12 col-lg-7">
            <div class="row col-md-8 col-lg-10 col-xl-8 mx-auto h-100">
                <div class="loginForm h-100v d-flex flex-wrap justify-content-center">
                    <div class="login_title w-100 text-center mb-4">
                        <h2 class="text-capitalize fw-600">LOG IN</h2>
                    </div>
                    <form action="" class="w-100" method="post">
                        <div class="mb-3 row">
                            <label for="cnicNumber" class="col-sm-2 col-form-label text-end">CNIC</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="cnicNumber">
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label for="password" class="col-sm-2 col-form-label text-end">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="password">
                            </div>
                          </div>
                          <div class="row mb-4">
                            <label class="col-form-label col-sm-2 pt-0"></label>
                            <div class="col-sm-10">
                                <div class="mb-3 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                    </div>
                                    <a routerLink="/forgetPassword" class="text-decoration-none">Forgot Password ?</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row mb-4">
                            <legend class="col-form-label col-sm-2 pt-0"></legend>
                            <div class="col-sm-10 text-center">
                                <a routerLink="/dashboard" class="btn btn-success w-100 w-md-50  text-white loginBtn">Login</a>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <legend class="col-form-label col-sm-2 pt-0"></legend>

                            <div class="col-md-10 text-center">
                               <small> <p class="haveAccount">Not have an account? <a routerLink="/register" class="text-primary">Register</a></p></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>