/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
* {
    font-family: 'Jost', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
:root {
    --color1: #474747;
    --color2: #5351FB;
    --color3: #27AE60;
    --color4: #fff;
    --color5: #000;
    --color6: #F5F7F8;
    --color7: #C9C9C9;
    --color8: #1A1A1A;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}

.h-100v{
    height: 100vh;
}
.loginForm {
    .form-control{
        background-color: var(--color6);
        color: var(--color1);
        padding: 10px 15px;
    }
    label, form a{
        color: var(--color1);
        font-size: 13.589px;
        font-weight: 500;
    }

}
